{% extends 'base.html' %}

{% load static %}

{% block title %}Contact Owner{% endblock %}

{% block body %}
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                </div>
                <div class="col-md-4 col-sm-6">
	                <div class="row">
		                <div class="col-md-4 col-sm-4">
		                	<i class="fa fa-user fa-2x"></i>
		                </div>
		                <div class="col-md-8 col-sm-8">
		                	<h3><b>Ayushi Chauhan</b></h3>
		                </div>   
	              	</div> 
	              	<div class="row">
		                <div class="col-md-4 col-sm-4">
		                	<i class="fa fa-mobile-phone fa-2x"></i>
		                </div>
		                <div class="col-md-8 col-sm-8">
		                	<h3>
		                		<b>9560722971<br/>8447106901</b>
		                	</h3>
		                </div>   
	              	</div> 
                </div>
                <div class="col-md-4 col-sm-3">
                                
                </div>
            </div>
        </div>
    </div>
{% endblock %}


`